@import url('https://fonts.googleapis.com/css?family=Lato&display=swap');

:root {
  --box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
  --color:#7458fe;
}

* {
  box-sizing: border-box;
}

body {
  background-color: #f7f7f7;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
  margin: 0;
  font-family: 'Lato', sans-serif;
}

.container {
  margin: 30px auto;
  width: 350px;
}

h1 {
  letter-spacing: 1px;
  margin: 0;
  color: var(--color);
}

h3 {
  border-bottom: 1px solid #bbb;
  padding-bottom: 10px;
  margin: 40px 0 10px;
}

h4 {
  margin: 0;
  text-transform: uppercase;
}

.inc-exp-container {
  background-color: #fff;
  box-shadow: var(--box-shadow);
  padding: 20px;
  display: flex;
  justify-content: space-between;
  margin: 20px 0;
}

.inc-exp-container>div {
  flex: 1;
  text-align: center;
}

.inc-exp-container>div:first-of-type {
  border-right: 1px solid #dedede;
}

.money {
  font-size: 20px;
  letter-spacing: 1px;
  margin: 5px 0;
}

.plus {
  color: #2ecc71;
}

.minus {
  color: #c0392b;
}


label {
  display: inline-block;
  margin: 10px 0;
}

input[type='text'],
input[type='number'] {
  border: 1px solid #dedede;
  border-radius: 2px;
  display: block;
  font-size: 16px;
  padding: 10px;
  width: 100%;
}

.btn {
  cursor: pointer;
  background-color: var(--color);
  box-shadow: var(--box-shadow);
  color: #fff;
  border: 0;
  display: block;
  font-size: 16px;
  margin: 10px 0 30px;
  padding: 10px;
  width: 100%;
  border-radius: 5px;
}

.btn:focus,
.delete-btn:focus {
  outline: 0;
}

.transactions {
  list-style-type: none;
  padding: 0;
  margin-bottom: 40px;
}

.transactions li {
  width: calc(100% - 20px);
  background-color: #fff;
  box-shadow: var(--box-shadow);
  color: #333;
  display: grid;
  grid-template-columns: 1fr auto;
  gap: 8px;
  position: relative;
  padding: 10px;
  margin: 10px 0;
}

.transactions li.plus {
  border-right: 5px solid #2ecc71;
}

.transactions li.plus span {
  color: #2ecc71;
}

.transactions li.minus {
  border-right: 5px solid #c0392b;
}

.transactions li.minus span {
  color: #c0392b;
}

.transactions li span:nth-child(1) {
  color: black;
}

.delete-btn {
  cursor: pointer;
  background-color: #e74c3c;
  border: 0;
  color: #fff;
  font-size: 20px;
  line-height: 20px;
  padding: 2px 5px;
  position: absolute;
  top: 20%;
  right: -25px;
}

.type {
  overflow: hidden;
  display: flex;
  padding: 0 5px;
  margin-bottom: 24px;
}
.type input {
  display: none;
}

.type label {
  font-size: 1em;
  background-color: #bababa;
  color: #0000004d;
  text-align: center;
  border-radius: 5px;
  margin: 0 8px 0 0;
  padding: 5px 8px;
}

.type label.active {
  background-color: #2e75cc;
  background-color: var(--color);
  color: white;
}

.type {
  margin: -5px 0  16px;
}